* {
  color: #000;
  font-family: "Airbnb Cereal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #F4D6CC;
  margin: 0;
}

.center-text {
  text-align: center;
}

.page-title {
  text-align: center;
}
.page-title h1 {
  font-size: 3rem;
  margin-bottom: 0;
  padding: 0;
}
.page-title p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 5rem;
  padding: 0;
}
.page-title p.description {
  margin-top: 24px;
}

@media screen and (max-height: 800px) {
  .page-title h1 {
    font-size: 2rem;
  }
  .page-title p {
    font-size: 0.8rem;
  }
}
.navbar {
  background-color: #4E3C43;
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar * {
  color: rgb(234, 234, 234);
}
.navbar .brand a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 2rem;
  -webkit-user-drag: none;
  transition: color 0.2s ease-in-out;
}
.navbar .brand:hover a {
  color: #CFF27E;
}
.navbar .content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navbar .content ul li {
  margin-right: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: border-bottom 0.2s ease-in-out;
}
.navbar .content ul li a {
  text-decoration: none;
  -webkit-user-drag: none;
}
.navbar .content ul li.active {
  font-weight: bold;
  font-size: 1.4rem;
}
.navbar .content ul li.active a {
  color: #CFF27E;
}
.navbar .content ul li:hover .hover-underline .underline {
  width: 100%;
}
.navbar .content ul li:active .hover-underline .underline {
  width: 100%;
  background-color: #CFF27E;
}
.navbar .content ul li .hover-underline {
  width: 100%;
  height: 2px;
}
.navbar .content ul li .hover-underline .underline {
  width: 0%;
  height: 100%;
  background-color: white;
  transition: width 0.25s ease-in-out;
  border-radius: 12px;
}
.navbar .toggle-button {
  display: none;
  margin-right: 2rem;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.navbar .toggle-button .line {
  width: 30px;
  height: 3px;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .navbar .content {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #4E3C43;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100vw;
  }
  .navbar .content ul {
    flex-direction: column;
    gap: 1rem;
  }
  .navbar .toggle-button {
    display: flex;
  }
  .navbar.open .content {
    display: flex;
    z-index: 100;
  }
  .navbar.open .toggle-button {
    transform: rotate(90deg);
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
  background-color: #D9D9D9;
  padding: 0.4rem;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  -webkit-user-drag: none;
  transition: filter 0.2s ease-in-out;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.btn:hover {
  filter: brightness(1.1);
}
.btn:active {
  filter: brightness(1.2);
}

@media screen and (max-width: 800px) {
  .btn {
    width: auto;
    height: 20px;
  }
}
.basic-form {
  width: 600px;
  height: auto;
  border-radius: 12px;
  text-align: center;
  padding: 2rem;
  padding-top: 0.5rem;
  background-color: #D9D9D9;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0px 0px 5px 0px rgb(18, 18, 18);
}
.basic-form .form-title h1 {
  margin-bottom: 10px;
  padding-top: 0;
}
.basic-form .form-title p {
  margin-top: 0;
  padding-top: 0;
}
.basic-form .errors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}
.basic-form .errors p {
  width: 90%;
  margin: 0;
  height: 20px;
  background-color: #d47a7a;
  color: white;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px rgb(18, 18, 18);
}
.basic-form .success {
  width: 80%;
  margin: 0;
  height: 20px;
  background-color: #CFF27E;
  color: black;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 0.8rem;
  margin: auto;
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px rgb(18, 18, 18);
}
.basic-form form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.basic-form form input:not(input[type=checkbox]):not(input[type=radio]) {
  margin: auto;
  width: calc(90% - 1.5rem);
  height: 40px;
  border-radius: 8px;
  padding-inline: 1rem;
  font-size: 1.2rem;
}
.basic-form form .radio-option {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.basic-form form .radio-option div {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
}
.basic-form form .radio-option div input[type=radio] {
  width: 20px;
  height: 20px;
  appearance: none;
  display: inline-block;
  background-clip: content-box;
  border: 2px solid #000;
  border-radius: 50%;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}
.basic-form form .radio-option div input[type=radio]:checked {
  background-color: #0DC9DE;
  box-shadow: none;
}
.basic-form form .radio-option div input[type=radio]:checked + label {
  font-weight: bold;
}
.basic-form form .radio-option div p:first-child {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 0;
}
.basic-form form .radio-option div p {
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0;
}
.basic-form form textarea {
  margin: auto;
  width: calc(90% - 1.5rem);
  height: 200px;
  border-radius: 8px;
  resize: none;
  padding: 1rem;
}
.basic-form form input[type=submit], .basic-form form button[type=submit] {
  width: 90%;
  height: 40px;
  border-radius: 8px;
  background-color: #CFF27E;
  color: black;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
}
.basic-form form input[type=submit]:hover, .basic-form form button[type=submit]:hover {
  filter: brightness(1.1) saturate(1.1);
}
.basic-form form a {
  text-decoration: none;
  background-image: linear-gradient(0deg, #0DC9DE, #033035, black);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.basic-form form input:not(input[type=radio]), .basic-form form textarea, .basic-form form button {
  box-shadow: 0px 0px 5px 0px rgb(18, 18, 18);
  border: none;
  transition: border 0.3s ease-in-out;
  font-size: 1.2rem;
}
.basic-form form input:not(input[type=radio]):active, .basic-form form input:not(input[type=radio]):focus, .basic-form form textarea:active, .basic-form form textarea:focus, .basic-form form button:active, .basic-form form button:focus {
  border: none;
  outline: 2px solid #0DC9DE;
}

.centred-form-container {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .basic-form {
    width: 80%;
  }
  .centred-form-container {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-height: 800px) {
  .basic-form {
    width: 80%;
  }
  .centred-form-container {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 1rem;
  }
}
.badges {
  width: auto;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.badge {
  border-radius: 8px;
  background-color: #D9D9D9;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge.small {
  width: 50px;
  height: 20px;
}
.badge.medium {
  width: 100px;
  height: 30px;
}
.badge.large {
  width: 150px;
  height: 40px;
}
.badge.paid {
  background-color: #ffd39c;
  color: #000;
}
.badge.free {
  background-color: #71cc87;
  color: #000;
}

.img-text-container {
  width: 100vw;
  height: 100px;
  position: relative;
}
.img-text-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-text-container .banner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(13, 201, 222, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.img-text-container .banner *:not(.btn) {
  color: white;
}
.img-text-container .banner h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.img-text-container .banner h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.img-text-container .banner.top {
  top: 0;
  transform: translate(-50%, 0);
}
.img-text-container .banner.bottom {
  top: auto;
  bottom: 0;
  transform: translate(-50%, 0);
}
.img-text-container .banner.hidden-background {
  background-color: transparent;
}
.img-text-container.auto {
  height: auto;
}
.img-text-container.half-width {
  width: 50vw;
  height: auto;
  margin: 0 auto;
}
.img-text-container.half-height {
  height: 50vh;
}
.img-text-container img.rounded {
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .img-text-container .banner h1 {
    font-size: 1.5rem;
  }
  .img-text-container .banner h2 {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .img-text-container .banner {
    height: auto;
  }
  .img-text-container .banner h1 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .img-text-container .banner h2 {
    font-size: 1.05rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  .img-text-container img {
    height: 100vh;
  }
  .img-text-container .banner {
    height: auto;
  }
  .img-text-container .banner h1 {
    font-size: 2.25rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .img-text-container .banner h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.list-container {
  width: 80%;
  height: max(300px, 50vh);
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #D9D9D9;
  transition: filter 0.2s ease-in-out;
}
.list-container .list-option {
  width: calc(100% - 2rem);
  height: auto;
  border-radius: 12px;
  background-color: #D9D9D9;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: grid;
  grid-template-areas: "title title title" "created last-updated blank";
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.list-container .list-option:hover {
  filter: contrast(0.9);
}
.list-container .list-option .title {
  grid-area: title;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.list-container .list-option .created {
  grid-area: created;
  font-size: 0.8rem;
}
.list-container .list-option .last-updated {
  grid-area: last-updated;
  font-size: 0.8rem;
}
.list-container .list-option .blank {
  grid-area: blank;
}
.list-container .page-counter {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
.list-container .page-counter .page-number {
  font-size: 1.2rem;
  font-weight: bold;
}
.list-container .page-counter .page-action {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}
.list-container .page-counter .hidden {
  opacity: 0;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

.text-container {
  width: 80%;
  height: max(300px, 50vh);
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #D9D9D9;
}
.text-container .bottom-right {
  position: absolute;
  bottom: 0;
  right: 20px;
}
.text-container .bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.text-container .bottom-middle {
  position: absolute;
  bottom: 20px;
  right: 50%;
}
.text-container .faded-text {
  color: rgba(0, 0, 0, 0.5);
}

.chat {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.chat .chat-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0DC9DE;
  cursor: pointer;
  margin-left: auto;
}
.chat .chat-container {
  width: 240px;
  height: 300px;
  border-radius: 12px;
  background-color: #0DC9DE;
  display: none;
  position: relative;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.chat .chat-container .chat-message-container {
  width: 90%;
  height: 50%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.chat .chat-container .chat-message-container button {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}
.chat .chat-container .chat-message-container button .chat-title {
  font-size: 1rem;
  color: black;
  font-weight: normal;
}
.chat .chat-container .chat-message-container button .chat-title::after {
  content: ":";
  display: inline-block;
  color: black;
}
.chat .chat-container .chat-message-container button .chat-title::before {
  content: "#";
  display: inline-block;
  color: black;
}
.chat .chat-container .chat-message-container button .chat-username {
  font-size: 0.8rem;
}
.chat .chat-container .chat-message-container button .chat-status {
  font-size: 0.8rem;
}
.chat .chat-container .chat-message-container button .chat-status::before {
  content: "(";
  display: inline-block;
  color: black;
}
.chat .chat-container .chat-message-container button .chat-status::after {
  content: ")";
  display: inline-block;
  color: black;
}
.chat .chat-container .chat-message-container .chat-message {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}
.chat .chat-container .chat-message-container .chat-message .author {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
.chat .chat-container .chat-message-container .chat-message .message {
  font-size: 1rem;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
.chat .chat-container .chat-title:is(p) {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
.chat .chat-container .chat-title:is(div) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}
.chat .chat-container .chat-title:is(div) p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
.chat .chat-container .chat-title:is(div) .chat-close {
  width: 50px;
  height: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  align-self: flex-start;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  transform: rotate(180deg);
}
.chat .chat-container .chat-title:is(div) .chat-exit {
  width: 50px;
  height: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  align-self: flex-start;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
.chat .chat-container .chat-title:is(div) p {
  cursor: default;
}
.chat .chat-container .chat-input {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.chat .chat-container .chat-input input {
  width: calc(90% - 2rem);
  margin-inline: auto;
  font-size: 1.2rem;
  border-radius: 12px;
  box-shadow: 0px 0px 5px 0px rgb(18, 18, 18);
  border: none;
  transition: border 0.3s ease-in-out;
  font-size: 1rem;
  padding-inline: 1rem;
}
.chat .chat-container .chat-input input:active, .chat .chat-container .chat-input input:focus {
  border: none;
  outline: 2px solid #71cc87;
}
.chat .chat-container .chat-input input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.chat .chat-container .chat-input input.invalid {
  border: none;
  outline: 2px solid #d47a7a;
  animation: invalid-shake 0.5s ease-in-out;
}
@keyframes invalid-shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(2.5px);
  }
  50% {
    transform: translateX(-2.5px);
  }
  75% {
    transform: translateX(2.5px);
  }
  100% {
    transform: translateX(0px);
  }
}
.chat.open .chat-container {
  display: flex;
  opacity: 0;
  animation: fade-in 0.2s ease-in-out forwards;
}
.chat.closed .chat-container {
  display: flex;
  opacity: 1;
  animation: fade-out 0.2s ease-in-out forwards;
}

@media screen and (max-height: 800px) {
  .chat .chat-icon {
    width: 40px;
    height: 40px;
  }
  .chat .chat-container {
    width: 90%;
  }
}
.video-container {
  margin-inline: auto;
  width: 600px;
  height: auto;
  border-radius: 12px;
  background-color: #D9D9D9;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.video-container h1, .video-container h2, .video-container h3, .video-container h4, .video-container h5, .video-container h6 {
  text-align: center;
  font-weight: bold;
}
.video-container iframe, .video-container video {
  width: 90%;
  margin-bottom: 1rem;
}

@media screen and (max-height: 800px) {
  .video-container {
    width: 80%;
    margin-bottom: 1rem;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */