
.basic-form {
    width: 600px;
    height: auto;
    border-radius: 12px;
    text-align: center;
    padding: 2rem;
    padding-top: 0.5rem;
    background-color: map-get($color_palette, "default_form");
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 0px 0px 5px 0px rgb(18, 18, 18);

    .form-title {
        h1 {
            margin-bottom: 10px;
            padding-top: 0;
        }
        p {
            margin-top: 0;
            padding-top: 0;
        }
    }

    .errors {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;

        p {
            width: 90%;
            margin: 0;
            height: 20px;
            background-color: map-get($color_palette, "error");
            color: white;
            border-radius: 8px;
            padding: 0.5rem;
            font-size: 0.8rem;
            font-weight: bold;
            box-shadow: 0px 0px 5px 0px rgb(18, 18, 18);
        }
    }

    .success {
        width: 80%;
        margin: 0;
        height: 20px;
        background-color: map-get($color_palette, "secondary");
        color: black;
        border-radius: 8px;
        padding: 0.5rem;
        font-size: 0.8rem;
        margin: auto;
        font-weight: bold;
        box-shadow: 0px 0px 5px 0px rgb(18, 18, 18);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        input:not(input[type="checkbox"]):not(input[type="radio"]) {
            margin: auto;
            width: calc(90% - 1.5rem);
            height: 40px;
            border-radius: 8px;
            padding-inline: 1rem;
            font-size: 1.2rem;
        };

        .radio-option {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            justify-content: center;

            div {
                width: 80%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                align-items: center;
                justify-content: center;
                margin-top: 12px;
                margin-bottom: 12px;



                input[type="radio"] {
                    width: 20px;
                    height: 20px;
                    appearance: none;
                    display: inline-block;
                    background-clip: content-box;
                    border: 2px solid #000;
                    border-radius: 50%;
                    margin-top: 0;
                    margin-bottom: 0;
                    cursor: pointer;

                    &:checked {
                        background-color: map-get($color_palette, "main");
                        box-shadow: none;

                        & + label {
                            font-weight: bold;
                        }
                    }
                }

                p:first-child {
                    font-size: 1.2rem;
                    font-weight: normal;
                    margin-bottom: 0;
                }

                p {
                    font-size: 0.8rem;
                    font-weight: normal;
                    margin: 0;
                }
            }
        }

        textarea {
            margin: auto;
            width: calc(90% - 1.5rem);
            height: 200px;
            border-radius: 8px;
            resize: none;
            padding: 1rem;
        };

        input[type="submit"], button[type="submit"] {
            width: 90%;
            height: 40px;
            border-radius: 8px;
            background-color: map-get($color_palette, "default_form_button");
            color: black;
            font-weight: bold;
            margin: auto;
            cursor: pointer;
            transition: filter 0.2s ease-in-out;

            &:hover {
                filter: brightness(1.1) saturate(1.1);
            }
        }

        a {
            text-decoration: none;
            background-image: linear-gradient(0deg, map-get($color_palette, "main"), #033035, black);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        input:not(input[type="radio"]), textarea, button {
            box-shadow: 0px 0px 5px 0px rgb(18, 18, 18);
            border: none;
            transition: border 0.3s ease-in-out;
            font-size: 1.2rem;

            &:active, &:focus {
                border: none;
                outline: 2px solid map-get($color_palette, "main");
            }
        }
    }
}

.centred-form-container {
    width: 100vw;
    height: calc(100vh - $navbar_height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 768px) {
    .basic-form {
        width: 80%;
    }

    .centred-form-container {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-height: 800px) {
    .basic-form {
        width: 80%;
    }

    .centred-form-container {
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 1rem;
    }
}
